%h1 Dodge Date

-# = form_tag('/call_me', :method => 'post') do
  -# %p The format of your phone number should be: 9995554444
  -# = label_tag 'number', 'What number would you like to call?'
  -# = text_field_tag :number
  -# = label_tag 'time_until_call', 'When would you like to be called:'
  -# = select_tag('time', Call::CALL_TIMES, { :allow_blank => false })
  -# = submit_tag "Set call"

= simple_form_for :call do |f|
  = f.text_field :number, label: "What is your telephone number"
  = f.input :time, collection: Call::CALL_TIMES, as: :select
  = f.button :submit
